extends ../layout

block content
    a(href='/usuarios') Volver

    br
    br
    br

    h1  Actualizar Usuario

    br
    br

    form(action='/usuarios/'+usuario.id+'/update' method='post')
        .form-group
            label(for='nombre') Name:
            input#nombre.form-control(type='text' name='nombre' value= usuario.nombre )
            if errors.name
                small#nameHelp.text-danger
                    = errors.name.message


        br
        br
        input.btn.btn-primary(type='submit' value='OK')